* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    color: #e0e0e0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.photo-container {
    margin: 2px;
    flex-basis: 0;
    overflow-x: hidden;
    width: 100%;
}

.photo-container img {
    width: 100%;
    height: auto;
    display: block;
}