<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{root}}/res/css/style_main.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{root}}/res/js/script_main.js"></script>
    {% block head_append %}{% endblock %}
    <title>{{meta.title}}</title>
</head>

<body id="particles-js">
    <div class="head">
        <div class="wrapper">
            <div class="title">
                <h1>Sticks and Stones Software</h1>
                <h2>By <a href="http://gabrielmukobi.com">Gabriel Mukobi</a></h2>
            </div>
            <div class="about">
                <p>
                    Sticks and Stones Software is a software development company founded and operated by <a
                        href="http://gabrielmukobi.com">Gabriel Mukobi</a> that develops games, websites,
                    desktop solutions, and mobile applications. As its name implies, Sticks and Stones is committed to
                    creating simple yet effective software solutions to help others.
                </p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="navigation">
            <a href="websites.html">Websites</a>
            <a href="mobile.html">Mobile</a>
            <a href="desktop.html">Desktop</a>
            <a href="webapps.html">Web Apps</a>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
<script>
    particlesJS.load('particles-js', '{{root}}/res/particles/home.json', function () {
        console.log('particles config file loaded');
    });
</script>

</html>