{% extends 'base.html' %} {%set root = '..'%} {% block stylesheet %} {{ super() }} {# TODO: eliminate default style in the 2 stylesheets #}
<link rel="stylesheet" href="{{root}}/res/css/style_sub.css" /> {% endblock %} {% block body %} {% include 'components/navigation.html' %}
<div class="head">
    <div class="wrapper">
        <div class="title">
            <h1>{{meta.page|capitalize}}</h1>
            <h2><a href='{{root}}'>Sticks and Stones Software</a></h2>
        </div>
        <div class="about">
            <p class="line_white_space">
                {{meta.description}}
            </p>
        </div>
    </div>
</div>
<div class="content">
    {% for key, value in children.items() %}
    <div class="single_content">
        <a href="{{value.meta.external_link if 'external_link' in value.meta else './' + key}}">
            <img src="./{{key}}/thumbnail.jpg" />
            <h3>{{value.meta.page}}</h3>
            <p class="content_description line_white_space">
                {{value.meta.description}}
            </p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}