{% extends "base.html" %}

{%set root = '.'%}

{% block body %}
<div class="header">
    <div class="title">
        <h1 class="fixed">{{meta.header_title}}</h1>
        <!-- duplicate h1 for positioning in title -->
        <h1 class="transparent">{{meta.header_title}}</h1>
    </div>
    <div class="links">
        <a href="https://gabrielmukobi.com"><i class="fas fa-globe"></i></a>
        <a href="mailto:gmukobi@stanford.edu?Subject=Photography Inquiry"><i class="fas fa-envelope"></i></a>
        <a href="https://www.instagram.com/gabe_mukobi"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCyOdMevTIzx8fsWWUpc3IQg"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/gabrielmukobi"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="description">
        {{meta.description}}
    </div>
</div>
<div class="about">
</div>
</div>
<div class="content">
    {% for year, year_content in children.Albums.children.items() %}
    {% for album, album_content in year_content.children.items() %}
    {% for photo in album_content.files|sort(reverse=true) %}

    {% set dimensions = photo.split('.')[-2].split('x') %}
    {% set aspect_ratio = dimensions[0]|float / dimensions[1]|float %}
    {% set photo_source = './Albums/' + year + '/' + album + '/' + photo %}
    {% set url = album_content.meta.external_link 
        if album_content.meta.external_link is defined
        else photo_source %}
    <a href="{{url}}" class="photo-container"
        style="flex-grow: {{aspect_ratio}}; min-width: min(100vw, {{300 * aspect_ratio}}px)">
        <img src="./Albums/{{year}}/{{album}}/{{photo}}" />
    </a>

    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>
<p class="fixed copyright">All images copyright &copy; 2019-2020 Gabriel Mukobi</p>
{% endblock %}