{% extends "base.html" %}

{%set root = '.'%}

{% block body %}
<div class="head">
    <div class="wrapper">
        <div class="title">
            <h1>{{meta.header}}</h1>
            <h2>By <a href="http://gabrielmukobi.com">Gabriel Mukobi</a></h2>
        </div>
        <div class="about">
            <p>
                {{ meta.description }}
            </p>
        </div>
    </div>
</div>
<div class="content">
    {% for year, year_content in children.Albums.children.items() %}
    {% for album, album_content in year_content.children.items() %}
    {% for photo in album_content.files %}

    {% set dimensions = photo.split('.')[-2].split('x') %}
    {% set aspect_ratio = dimensions[0]|float / dimensions[1]|float %}
    <a href="#" class="photo-container"
        style="flex-grow: {{aspect_ratio}}; min-width: min(100vw, {{360 * aspect_ratio}}px)">
        <img src="./Albums/{{year}}/{{album}}/{{photo}}" />
    </a>

    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}